.images {
    text-align: center;
    text-transform: capitalize;
    width: 80vw;
    margin: 0 auto;
}

.single-image {
    border: 1px solid red;
    padding: 10px;
}

@media (min-width: 992px) {
    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.single-product {
    width: 90vw;
    max-width: 1170px;
    margin: 3rem auto;
}

@media (min-width: 768px) {
    .single-product {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}